.paper {
  width: 100%;
  height: 54px;
  position: fixed;
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  text-align: center;
  z-index: 10;
  background-color: white;
}

.mainlogo {
  text-align: left;
  width: 400px;
  padding-top: 2px;
}

.navigator {
  display: flex;
  width: 935px;
  margin: auto auto;
  padding: 0 20px;
  padding-top: 12px;
  justify-content: space-between;
  align-items: center;
}
.right {
  width: 260px;
  padding-left: 100px;
}
.rightBanner {
  display: grid;
  width: 260px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.input {
  background-color: #f8f8f8;
  border: 1px solid #e3e3e3;
  width: 208px;
  height: 24px;
  border-radius: 5%;
  text-align: center;
  font-size: 14px;
}
